@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


.btn {
  border-radius: 50px;
  font-weight: 500;
  background-color: #f7a400;
  color: white;
  border: none;
}

.btn:hover {
  background-color: #ed7200;
}

.btn:active {
  background-color: #ffe6b5;
  color: black;
}

.btn:focus {
  border: solid 5px white;
}

.Head {
  width: 100%;
  height: 900px;
  background-image: url("../../assets/imgs/mainBackground.jpg");
  background-size: cover;
  background-position-y: -250px;
}

.Head-Textcont {
  width: 500px;
  height: auto;
  position: relative;
  top: 250px;
  left: 150px;
}

.Mainbtn {
  font-size: 36px;
}

.Head-Textcont h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.Head-Textcont button {
  width: 400px;
  height: 120px;
}

.SaleSelector-Cont {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.SaleSelector {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  background-color: grey;
  height: 400px;
  position: relative;
  top: -10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.SaleSelector-Title {
  color: white;
  font-weight: 700;
  margin: 20px 0px;
  font-size: 34px;
}

.SaleSelector-TypesHolder {
  background-color: rgb(87, 87, 87);
  height: 200px;
  width: 90%;
  display: flex;
  align-items: center;
}

.SaleSelector-Type {
  background-color: rgb(214, 214, 214);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  margin: 0px 15px;
}

.SaleSelector-Type img {
  width: 100px;
  height: 100px;
}

.SaleSelector-btm {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
}

.SaleSelector-Filters {
  display: flex;
  gap: 20px;
}

.SaleSelector-Brands {
  background-color: beige;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dropdownImg {
  width: 20px;
}

.SaleSelector-Button {
  padding: 15px;
  font-size: 24px;
}

.Section {
  height: 1300px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  overflow: hidden;
}

.SecondSection-Background {
  background-image: url("../../assets/imgs/firstpart.jpg");
  background-size: 80%;
  width: 80%;
  height: 70%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transition: 5s;
}

.SecondSection-Background.active {
  width: 150%;
  height: 150%;
}

#FirstModal {
  background-color: #1a1b4b;
  color: white;
  position: relative;
  right: -500px;
}

.PseudoModal {
  position: relative;
  width: 30vw;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 75px;
  padding-top: 50px;
  justify-content: space-around;
}

.PseudoModal-btn {
  margin: 15px 0px;
  font-size: 30px;
  padding: 15px 20px;
  width: 70%;
}

.PseudoModal h3 {
  font-size: 30px;
  text-align: center;
  margin: 10px 0px;
}

.PseudoModal ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 50%;
  font-size: 24px;
  width: 70%;
}

.ThirdSection-Background {
  background-image: url("../../assets/imgs/secondpart.jpg");
  background-size: cover;
  width: 100%;
  height: inherit;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

#SecondModal {
  background-color: #7c7dd0;
  color: white;
  left: -450px;
}
